Host *
   ForwardX11 yes
   ForwardAgent yes

Host bnl
    HostName ssh.bnl.gov
    User dallan
    LocalForward 3128 192.168.1.130:3128
    ForwardAgent yes

Host box64
    User dallan
    ForwardAgent yes
    ProxyCommand ssh -q bnl nc box64-2.nsls2.bnl.gov 22

Host xf??bm*-*
    User dallan
    ForwardAgent yes
    ProxyCommand ssh box64 nc %h.cs.nsls2.local 22

Host xf??id*-*
    User dallan
    ForwardAgent yes
    ProxyCommand ssh box64 nc %h.cs.nsls2.local 22

Host jupyter*
    User dallan
    ForwardAgent yes
    ProxyCommand ssh box64 nc %h.cs.nsls2.local 22

Host anstower
    User dallan
    ForwardAgent yes
    ProxyCommand ssh box64 nc %h.cs.nsls2.local 22

Host freyja
    User dallan
    ForwardAgent yes
    ProxyCommand ssh -q bnl nc freyja.nsls2.bnl.gov 22

Host danallan
    Hostname danallan.com

Host mobtown
    # note: this uses the key id_rsa, others use id_rsa_osx
    Hostname mobtownballroom.com

Host cooley
    Hostname cooley.alcf.anl.gov
    # http://www.alcf.anl.gov/user-guides/new-user-guide

Host ec2
    User ec2-user
    Hostname try.nsls2.bnl.gov
    # Hostname 52.70.105.68
    ForwardAgent yes
    ProxyCommand ssh -qY ssh.bnl.gov -W %h:%p
    LocalForward 13001 localhost:4000
